{% extends "profile/base_with_classes.html" %}

{% block script %}
    $(document).ready(function(){
        $(".course_tile").click(function(){
            $.ajax({
                type: 'POST',
                url: '/home/course_group',
                data: {
                    'course_code' :   $(this).attr("id")
                },
                success: loadPage,
                dataType: 'html'
            });
        });
    
    $("#{{  }}").click()
    
    });
    function loadPage(data){
        // build htmlString here with provided json
        $("#course_group_div").html(data)
    }
{% endblock script %}

{% block main_content %}
<div id="course_group_div">
    
</div>
{% endblock main_content %}