{% extends "profile/base_with_classes.html" %}

{% block main_content %}
<div>
     <div id="recommendations">
     <p>Recommendations</p>
     <table>
     <tr>
     <th>Course</th>
     <th>Recommendation</th>
     <th>Comments</th>
     </tr>
     {% for recommendation in recommendations %}
     <tr>
     <td>{{ recommendation.course.name }}</td>
     <td>{{ recommendation.would_recommend_course }}</td>
     <td>{{ recommendation.comments }}</td>
     </tr>
     {% endfor %}
     </table>
     </div>
     <br />
     <div id="ratings">
     <p>Ratings</p>
     <table>
     <tr>
     <th>Course</th>
     <th>Easiness</th>
     <th>Course Material</th>
     <th>Course Subject Interest</th>
     </tr>
     {% for rating in ratings %}
     <tr>
     <td>{{ rating.course.name }}</td>
     <td>{{ rating.easiness }}</td>
     <td>{{ rating.course_material }}</td>
     <td>{{ rating.course_subject_interest }}</td>
     </tr>
     {% endfor %}
     </table>
     <br />
     <h6>Easiness - 1 would mean that the class is extremely hard whereas 5 would mean that the class was extremely easy.</h6>
     <h6>Course Material - 1 would mean that the course material (exams, assignments, readings, etc.) were not effective in aiding in learning whereas a 5 would mean that the course material was effective in aiding in learning.</h6>
     <h6>Course Subject Interest - 1 would mean that the course subject was boring wheras 5 would mean that the course subject was engaging.</h6>
     </div>
</div>
{% endblock main_content %}