<style>
  
  .create_study_group_popup
  {
  }
  
  .popup_bg
  {
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    opacity:0.4;
    z-index:1;
  }
  
  .popup_overlay
  {
    z-index:5;
  }
  
</style>

<script>
  $(document).ready(function(){
    $(".create_study_group_popup").hide();
    
    $("#show_popup").click(function(){
      $(".popup_overlay").hide();
      $(".create_study_group_popup").show();
    });
  });
</script>

<div class="create_study_group_popup" id="csgp_{{ course_detail.course.course_code }}">
    <div class="popup_bg"></div>
    
    <div class="popup_overlay" id="{{ course_detail.course.course_code }}" >
    </div>
    <div class="popup_overlay" id="{{ course_detail.course.course_code }}" >
    </div>
    <div class="popup_overlay" id="{{ course_detail.course.course_code }}" >
    </div>
    
</div>