<div id="create_study_group_popup">
    <div id="popup_bg"></div>
    <div id="popup_overlay_base">
	<form method="POST" action="/doesnotexistyet">

	<div class="popup_overlay" id="po1" >
	    <table>
	    <tr><td>
	        <table>
		    <tr>
		        <td><label for="title">Title:</label></td><td><input type="text" name="sg_title" /></td>
		    </tr>
		    <tr>
		        <td><label for="max_capacity">Max Capacity:</label></td><td><input type="text" name="max_capacity" /></td>
		    </tr>
	        </table>
	    </td></tr>
	    <tr><td>
	        <table>
		    <tr>
		        <td>Invite Classmates: (click to remove)</td>
		    </tr>
		    <tr>
		        <td><div id="invite_box"></div></td>
		    </tr>
		    <tr>
		        <td>Current Students: (click to add)</td>
		    </tr>
		    <tr>
		        <td>
                            <div id="course_students">
			    {% for person in course.current.all %}
			        <div class="person_block flipflop" id="{{ person.id }}">
				    <img class="person_image" src="{{ person.profile_picture_url }}" />
				    <h5 class="person_name">{{ person.first_name }} {{ person.last_name }}</h5>
			        </div>
			    {% endfor %}
			    </div>
		        </td>
		    </tr>
		    <tr>
		        <td style="text-align:right;"><input type="submit" id="sg_submit"></td>
	            </tr>
	        </table>
            </td></tr>
            </table>
	</div>

	<div class="popup_overlay" id="po_hidden" >
	</div>

	</form>
    </div>
</div>
