{% extends "profile/base_with_classes.html" %}

{% block script1 %}
    $(document).ready(function(){
        pic_height = parseInt($("#profile_picture").css("height"));
        topright_height = parseInt($("#profile_topright").css("height"));
        $("#profile_content").css("height",((pic_height>topright_height ? pic_height : topright_height) + parseInt($("#profile_bottom").css("height")) + 60).toString() + "px" );
    }); 
{% endblock script1 %}

{% block main_content %}
<div id="profile_content" style="width:100%; min-height:600px;">
    <div id="profile_picture" style="border:3px solid black; width:150px; position:absolute; left:40px; top:40px; max-height:250px;" >
        <img src="{{ student.profile_picture_url }}" style="width:150px" />
    </div>

    <div id="profile_topright" style="border:3px solid black; width:280px; min-height:230px; position:absolute; left:220px; top:40px; padding:10px; overflow: scroll;">
        <p style="background-color: #B9E0F7">Inbox:</p>
    </div>
    <div id="profile_links" style="width:175px; position:absolute; left:40px; top:210px;">
        <a href="home/settings" class="box_left">Edit Profile</a>
        <a href="home/profile/{{ student.id }}" class="box_right">View Profile</a>
    </div>
    
    <div id="profile_bottom" style="border:3px solid black; width:480px; min-height:350px; position:absolute; left:40px; top:320px; overflow: scroll;">
        <p style="background-color: #B9E0F7; margin:10px;">News Feed:</p>
    </div>
</div>
{% endblock main_content %}
