<div class="ratings_class">
    <h1 style="font-weight: bold; font-size: 24px;">{{ course_detail.course.course_name }}</h1>
    <br />
    <h1 style="font-weight: bold; font-size: 18px;">Ratings</h1>
    <br />
    <table>
	<tr>
	<th>User</th>
	<th>Easiness</th>
	<th>Course Material</th>
	<th>Course Subject Interest</th>
	<th>Year Taken</th>
	<th>Semeseter Taken</th>
	</tr>
	{% for course in course_detail.course.coursedetail_set.all %}
	{% for rate in course.ratings_set.all %}
	<tr>
	    <td>{{ rate.rater.rcs_id }}</td>
	    <td>{{ rate.easiness }}</td>
	    <td>{{ rate.course_material }}</td>
	    <td>{{ rate.course_subject_interest }}</td>
	    <td>{{ rate.course.year }}</td>
	    <td>{{ rate.course.semester }}</td>
	</tr>
	{% endfor %}
	{% endfor %}
    </table>
    <br/>
    <a href="/home/ratings/{{ course_detail.id }}" style="background-color: #B9E0F7; color: black; padding: 2px; border: 2px solid #0067B1">Rate this Course</a>
</div>