{% extends "profile/base.html" %}

{% block style %}
    .course_tile
    {
        background-image:   url(/static/images/course_tile.png);
    }
    td.spacer
    {
        width:          30px;
    }
{% endblock style %}
    

{% block script %}
    $(document).ready(function(){
        $('#personal').hide();
        $('#privacy').hide();
        $('#interest').hide();
        $('#club').hide();
        $('#personal_info').click(function(){
            $('#personal').show();
            $('#privacy').hide();
            $('#interest').hide();
            $('#club').hide();
            $( ".course_tile" ).css( "background-image", "url(/static/images/course_tile.png)" );
            $(this).css( "background-image", "url(/static/images/course_tile_long.png)" );
        });
        $('#privacy_set').click(function(){
            $('#personal').hide();
            $('#privacy').show();
            $('#interest').hide();
            $('#club').hide();
            $( ".course_tile" ).css( "background-image", "url(/static/images/course_tile.png)" );
            $(this).css( "background-image", "url(/static/images/course_tile_long.png)" );
        });
        $('#interests').click(function(){
            $('#personal').hide();
            $('#privacy').hide();
            $('#interest').show();
            $('#club').hide();
            $( ".course_tile" ).css( "background-image", "url(/static/images/course_tile.png)" );
            $(this).css( "background-image", "url(/static/images/course_tile_long.png)" );
        });
        $('#clubs').click(function(){
            $('#personal').hide();
            $('#privacy').hide();
            $('#interest').hide();
            $('#club').show();
            $( ".course_tile" ).css( "background-image", "url(/static/images/course_tile.png)" );
            $(this).css( "background-image", "url(/static/images/course_tile_long.png)" )
        });
        
        
        // Force a click event on Personal Information:
        $('#personal_info').click();
    });
{% endblock script %}
    
    
{% block left_side %}
<div id="settings_options">
     <ul>
         <li class="course_tile" id="personal_info">
         <div class="text">
              <h2>Personal Information</h2>
         </div>
         </li>
         <li class="course_tile" id="privacy_set">
         <div class="text">
              <h2>Privacy Settings</h2>
         </div>
         </li>
         <li class="course_tile" id="interests">
         <div class="text">
              <h2>Interests</h2>
         </div>
         </li>
         <li class="course_tile" id="clubs">
         <div class="text">
              <h2>Clubs</h2>
         </div>
         </li>
     </ul>
</div>
{% endblock left_side %}

{% block main_content %}
<div id="settings_content" style="width:100%; min-height:600px;">
     <div id="personal">
          <h2 class="main_heading">Personal Settings</h2><br />
          <form id="personal_info" method="POST" action="/home/settings/edit_personal_info/">
          {% csrf_token %}
                <table>
                    <tr><th><label for="id_first_name">First Name:</label></th><td class="spacer"></td><td>{{ personal_form.first_name }}</td></tr>
                    <tr><th><label for="id_middle_name">Middle Name:</label></th><td class="spacer"></td><td>{{ personal_form.middle_name }}</td></tr>
                    <tr><th><label for="id_last_name">Last Name:</label></th><td class="spacer"></td><td>{{ personal_form.last_name }}</td></tr>
                    <tr><th><label for="id_rcs_id">RCS ID:</label></th><td class="spacer"></td><td>{{ personal_form.rcs_id }}</td></tr>
                    <tr><th><label for="id_class_year">Class Year:</label></th><td class="spacer"></td><td>{{ personal_form.class_year }}</td></tr>
                    <tr><th><label for="id_profile_picture_url">Profile Picture:</label></th><td class="spacer"></td><td>{{ personal_form.profile_picture_url }}</td></tr>
                </table>
                <input class="float_right button_input" type="submit" value="Save" />
          </form>
     </div>
     <div id="privacy">
          <h2 class="main_heading">Privacy</h2>
          <form id="personal_info" method="POST" action="/home/settings/edit_privacy_settings/">
                {% csrf_token %}
                <table>{{ privacy_form.as_table }}</table>
                <input class="float_right button_input" type="submit" value="Save" />
          </form>
     </div>
     <div id="interest">
          <h2 class="main_heading">Interests</h2>
     </div>
     <div id="club">
          <h2 class="main_heading">Clubs</h2>
     </div>
</div>
{% endblock main_content %}