<div class="study_group_class">
    <h1 style="font-weight: bold; font-size: 24px;">{{ course_detail.course.course_name }}</h1>
    <br />
    <h1 style="font-weight: bold; font-size: 18px;">Study Groups</h1><br /><br />
    
    {% for sg in course_detail.course.studygroup_set.all %}
    <p style="font-size: 14px;">{{ sg.name }}</p>
    {% endfor %}
    <p style="font-weight: bold; font-size: 16px;"> Create a New Study Group:</p>
    

    <form method="POST" action="/home/create_study_group/">
	{% csrf_token %}
	<input type="hidden" name="course_code" value="{{ course_detail.course.course_code }}" />
	<table>
	    <tr><td>
	        <table>
		    <tr>
		        <td><label for="sg_title">Title:</label></td><td><input type="text" name="sg_title" /></td>
		    </tr>
		    <tr>
		        <td><label for="max_capacity">Max Capacity:</label></td><td><input type="text" name="max_capacity" /></td>
		    </tr>
	        </table>
	    </td></tr>
	    <tr><td>
	        <table>
		    <tr>
		        <td>Current Students: (click to add)</td>
		    </tr>
		    <tr>
		        <td>
                            <div id="course_students">
			    {% for course in course_detail.course.coursedetail_set.all %}
			    {% for person in course.current.all %}
			        <div class="person_block flipflop" id="{{ person.id }}">
				    <img class="person_image" src="{{ person.profile_picture_url }}" />
				    <h5 class="person_name">{{ person.first_name }} {{ person.last_name }}</h5><br />
				    <input type="checkbox" class="course_students_checkbox" name="course_students" value="{{ person.id }}" />
			        </div>
			    {% endfor %}
			    {% endfor %}
			    </div>
		        </td>
		    </tr>
		    <tr>
		        <td style="text-align:right;"><input type="submit" id="sg_submit"></td>
	            </tr>
	        </table>
            </td></tr>
        </table>

	<div class="popup_overlay" id="po_hidden" >
	</div>

	</form>

</div>