{% extends "profile/base_with_classes.html" %}

{% block main_content %}
<div id="messages_div" style="background-color: #B9E0F7; padding: 5px;">
     <h2 class="main_heading">Message from {{ message.author }}</h2>
     <h5>Recipients:
     {% for recipient in message.recipients.all %}
        {{ recipient.first_name }} {{ recipient.last_name }},
     {% endfor %}
     </h5>
     <h5>Subject: {{ message.subject }}</h5>
     <h5>Contents: {{ message.contents }}</h5>
     {% for previous in previous_messages %}
     <!--Code to view message thread-->
     {% endfor %}
     <br />
     <a href="/home/message/{{ message.author.id }}/{{ message.id }}" style="background-color: #B9E0F7; color: black; padding: 2px; border: 2px solid #0067B1">Reply</a>
     <br />
</div>
{% endblock main_content %}