{% extends "profile/base_with_classes.html" %}

{% block main_content %}
<span style="font-weight: bold; font-size: 16px;">Study Group:</span><br /><br />
<h1 style="font-weight: bold; font-size: 24px;">{{ study_group.course_name }}</h1><br /><br />
<p>Course:  {{ study_group.course.course_name }}</p>
<p>Max Capacity:  {{ study_group.max_capacity }}</p>
<p></p>
<span style="font-weight: bold; font-size: 12px;">Members:</span><br /><br />
{% for member in study_group.members.all %}
<p><a href="/home/profile/{{ person.id }}">{{ member.name }}</a><p>
{% endfor %}
{% endblock main_content %}