/* CSS Document */

#settings label {
	font-size: 12px;	
}

#settings .row {
	margin-left: 10px;
}

#settings .row + .row {
	margin-top: 5px;	
}

#settings input {
	width: 360px;
}

#settings label {
	position: relative;
	display: inline-block;
	width: 80px;
}

#settings_name input {
	width: 125px;
}

#settings .privacy input{
	width: auto;
	margin-right: 10px;
}


#settings .privacy label{
	width: auto;
}

#settings .save-window {
	float: left;
	position:relative;
	display: inline-block;
	font-size: 12px;
	width: auto;
	padding: 5px;
	height:26px;
	border: 1px solid #000;
	margin-top: 10px;
	cursor:pointer;
	background-color: #FFF;
	margin-right: 10px;
}