/*	style.css
 *	
 *	Defines the main style of the web page.
 */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0067B1;
}

#wrapper {
	width: 800px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	width: 100%;
	height: 98px;	
	background-color: #FFFFFF;
	margin-bottom: 65px;
}

#header_wrapper {
	width: 800px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	position: relative;
	height: 170px;
	width: auto;
	background-image: url(../images/logo_color_long.png);
	background-position: center;
}

#slogan {
	height: 50px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(../images/slogan.png);
}

.index h1 { 
	font-size: 20px; 
	color: #FFFFFF;
	margin-bottom: 10px;
}

.center { text-align: center; }
.float_left { float: left; }
.float_right { float: right; }
.clear { clear: both; }

.main_info {
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	height: auto;
	width: 359px;
	margin-top: 20px;
}

.main_info + .main_info {
	text-align: left;
	border-left: 2px solid #FFFFFF;
}

.index p {
	text-align: justify;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 17px;
}

p.float_left {
	position: relative;
	display: block;
	width: 290px;
	padding-left: 90px;
	margin-bottom: 20px;	
}

p.float_right {
	position: relative;
	display: block;
	width: 290px;
	padding-right: 90px;
	margin-bottom: 20px;		
}

.clear + .not-first {
	margin-top: 15px;	
}

.index .text_input {
	margin-left: 10px;
	height: 16px;
	width: 150px;
	background-color: #FFFFFF;
	border: 1px solid #0067B1;
	padding: 3px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333333;
}

.index label {
	margin-top: 5px;
	font-size: 14px;
}

#profile_area {
        position: absolute;
        top: 173px;
        left: 400px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 825px;
        height: auto;
        background-color: #FFFFFF;
        box-shadow: 3px 8px 30px 4px #222222;
}

#profile_area #left_profile{
	float: left;
	width: 200px;
}

#profile_area #right_profile{
	float: right;
	width: 550px;
}

#profile_area #right_profile #options{
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        background-color: #B9E0F7;

}

#profile_area #right_profile #courses{
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #B9E0F7;

}

#profile_area #left_profile #profile_pic{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

#profile_area #left_profile #personal_info{
	position: relative;
	background-color: #B9E0F7;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile_area #left_profile #interests_and_clubs{
	position: relative;
	background-color: #B9E0F7;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#profile_area #right_profile #options a{
        background-color: #0067B1;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 13px;
}

#profile_area #right_profile #options #message{
        position: relative;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

#profile_area #right_profile #options #recommendation{
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

#profile_area #right_profile #options #invite_study_group{
        position: relative;
        left: 30px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.float_right label {
	width: 111px;
	text-align: right;	
}

.index .button_input {
	position: relative;
	margin-top: 15px;
	height: 25px;	
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFF;
	background-color: #0067B1;
	border: 2px solid #B9E0F7;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.float_right .button_input {
	margin-right: 82px;	
}

.bold {
	font-weight: bold;	
}

#footer {
	position: relative;
	height: 100px;	
	width: 800px;
}

.box_left{
        position: relative;
	margin-top: 15px;
	height: 25px;
	width: 63px;
	padding-left: 5px;
	padding-right: 5px;
	color: #FFF;
	background-color: #0067B1;
	border: 2px solid #B9E0F7;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.box_right{
        position: relative;
	margin-top: 15px;
	height: 25px;	
	width: 63px;
	padding-left: 5px;
	padding-right: 5px;
	color: #FFF;
	background-color: #0067B1;
	border: 2px solid #B9E0F7;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}