<!DOCTYPE html>

<html>
<head>
	<title>StudentCity | RPI's Home for Social Academia</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>
    <script type="text/javascript" src="/static/javascript/validate.js"></script>
    <script type="text/javascript" src="/static/javascript/custom_functions.js"></script>
    
    
  	<script type="text/javascript">
        function makeDate() {
            var m_names = new Array("January", "February", "March", "April", "May", 
            "June", "July", "August", "September", "October", "November", "December");
            
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return m_names[curr_month] + " " + curr_date + ", " + curr_year;    
        }
        
        $(document).ready(function() {								
			$( "#random" ).html(Math.random());
            
            // Validation for the registration!
			/*
            $("#registration").validate({
				rules: {	
					rcsid: { required: true },
					pass1: { required: true },
					pass2: { 
						required: true,
						equalTo: "#pass1" }
				},
				
				messages: {
					rcsid: { required: "The RCSID is required." },
					pass1: { required: "The password is required." },
					pass2: { 
						required: "The second password is required.",
						equalTo: "The two passwords must match."
					}
				},
				
				errorLabelContainer: "#rightErrorMessageBox",
				wrapper: "li",
				submitHandler: function() { 
					var post_data = $("#registration").serialize();
					$.post("includes/register.php", post_data, function(data) {
						$("#rightErrorMessageBoxServer").css("display", "none");
						if (data.error == "true") {
							$("#rightErrorMessageBoxServer").css("display", "block");
							$("#rightErrorMessageBoxServer").html("<label class='error'>" + data.message + "</label>");
						}
						else {
							$.get("includes/settings.php", 
								{ id: data.rcs }, 
								function (data) { openMyModal(data); }
							);
						}
					});
				}
			});
			
			$("#login").validate({
				rules: {	
					rcsid: { required: true },
					password: { required: true }
				},
				
				messages: {
					rcsid: { required: "The RCSID is required." },
					password: { required: "The password is required." }
				},
				
				errorLabelContainer: "#leftErrorMessageBox",
				wrapper: "li",
				submitHandler: function() { 
					var post_data = $("#login").serialize();
					$.post("includes/login.php", post_data, function(data) {
						if(data.error == "true") {
							$("#leftErrorMessageBoxServer").css("display", "block");
							$("#leftErrorMessageBoxServer").html("<label class='error'>" + data.message + "</label>");
						}
						else {
							window.location.href = "dashboard.php";
						}
					}, "json");
				}		
			});
            */
		});
	</script>
    
    <style type="text/css">
        th {
            text-align:     right;
            padding:         10px;
        }
        table#login_form {
            float:          right;
        }
    </style>
</head>

<body>
    <div id="header">
        <div id="logo"></div>
    </div>
	<div id="wrapper" class="index">
    	<div id="slogan"></div>
        
        <div>
        <p class="float_left">With StudentCity, you can connect with your classmates in a whole new way, and actually meet people in the classroom, and get to know them outside the classroom. You never again have to worry about those embarassing time when you forget a name!</p>
            
        <p class="float_right">Form groups, find out who has the same class as you, and also get information from those who took a class in the past. StudentCity connects you to other students from the past and present in order to better prepare you for the future.<span id="random"></span></p>
        </div>
        
        <div class="float_left main_info">            
            <h1>Existing Users Login</h1>
            <div id="leftErrorMessageBoxServer" class="float_right errorMessageBox"></div>
            <div id="leftErrorMessageBox" class="float_right errorMessageBox"></div>
            <form id="login" method="post" action="/login">
                {% csrf_token %}
                <table class="float_right">
                    <tr><th><label for="id_username">Username:</label></th><td>{{  login_form.username }}</td></tr>
                    <tr><th><label for="id_password">Password:</label></th><td>{{  login_form.password }}</td></tr>
                </table>
                <input class="float_right button_input" type="submit" value="Login" style="clear:both;" />
            </form>
        </div>
        <div class="float_right main_info">
            <h1>New Users Register Here</h1>
            <div id="rightErrorMessageBoxServer" class="errorMessageBox"></div>
            <div id="rightErrorMessageBox" class="errorMessageBox"></div>
            <form  id="registration" method="post" action="/register/">
                {% csrf_token %}
                <table class="float_left">
                    <tr><th><label for="id_username">Username:</label></th><td>{{  register_form.username }}</td></tr>
                    <tr><th><label for="id_password1">Password:</label></th><td>{{  register_form.password1 }}</td></tr>
                    <tr><th><label for="id_password2">Confirm Password:</label></th><td>{{  register_form.password2 }}</td></tr>
                </table>
                <input class="float_right button_input" type="submit" value="Register" />
            </form>
      
        </div>
    </div>
    
</body>
</html>
